<div class = "main-result">
    <div class = "result">
        <h1>Результат</h1>
        <h2>Введенный массив</h2>
        <p><%=@input%></p>
        <h2>Результат</h2>
        <p>bruh</p>
    </div>
    <%= link_to "Вернуться назад", input_path %>
</div>

